/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fff0f7;
  color: #333;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #ff9acb, #ffb6d9);
  padding: 20px;
  text-align: center;
}

header h1 {
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* SECCIONES */
section {
  padding: 40px 15px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.banner {
  max-width: 280px;
  margin: 20px auto;
}

/* PRODUCTOS */
.categoria {
  margin-top: 40px;
}

.categoria h3 {
  color: #ff5fa2;
  margin-bottom: 20px;
}

.producto {
  background: white;
  border-radius: 20px;
  width: 220px;
  padding: 15px;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.producto img {
  width: 100%;
  border-radius: 15px;
}

.producto button {
  background: #ff5fa2;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
}

.producto button:hover {
  background: #ff3c90;
}

/* WHATSAPP */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 28px;
  padding: 15px;
  border-radius: 50%;
  z-index: 1000;
}

/* CARRITO */
.carrito-float {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background: #ff5fa2;
  color: white;
  border-radius: 50%;
  padding: 15px;
  font-size: 22px;
  border: none;
}

#contador-carrito {
  background: white;
  color: #ff5fa2;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 4px;
}

/* PANEL */
#panel-carrito {
  position: fixed;
  right: -100%;
  top: 0;
  width: 320px;
  height: 100%;
  background: #fff;
  padding: 20px;
  transition: 0.3s;
  z-index: 2000;
  overflow-y: auto;
}

#panel-carrito.activo {
  right: 0;
}

.item-carrito {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.item-carrito img {
  width: 50px;
  border-radius: 10px;
}

.item-carrito button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* REDES */
.redes-sociales a {
  font-size: 30px;
  color: #ff5fa2;
  margin: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .producto {
    width: 90%;
  }
}

